.creating-task {
	width: 370px;
	max-height: 430px;
	padding: 20px;
	border: 2px solid #2daafa;
	border-radius: 10px;
	&__btn {
		display: block;
		width: 220px;
		height: 40px;
		margin: 0 auto;
		margin-top: 25px;
		color: white;
		background: #2daafa;
		border: none;
		border-radius: 10px;
	}
}
